<h1>Generate a Shop</h1>

<img src="/images/storefront.png" alt="A picture of a fantasy storefront" />

<form action="">
  <label for="location">Location:</label>
  <select id="location" name="location">
    <option value="trader">Wandering Trader</option>
    <option value="merchant">Road Merchant</option>
    <option value="village">Village</option>
    <option value="town">Town</option>
    <option value="city">City</option>
    <option value="metropolis">Metropolis</option>
  </select>

  <label for="type">Type:</label>
  <select id="type" name="type">
    <option value="armory">Armory</option>
    <option value="arcanery">Mage Shop</option>
    <option value="alchemist">Alchemists</option>
    <option value="trader">Trader</option>
  </select>
</form>

<a href="/items/shop">Generate</a>
