<h1>Make a new Item.</h1>
<form action="/items" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name"/>
    <label for="rarity">Rarity</label>
    <input type="number" name="rarity" id="rarity" />
    <label for="attunement">Requires Attunement?</label>
    <input type="checkbox" name="attunement" id="attunement" />
    <label for="type">Type:</label>
    <input type="text" name="type" id="type" />

    <label for="description">Description</label>
    <input type="text" name="description" id="description" />

    <label for="setting">Setting</label>
    <input type="text" name="setting" id="setting" />

    <input type="submit" value="Create Item">
  </form>

  
