<h1>Outfit a Character</h1>

<form method=POST action="outfit/player">
    <label for="">Rarity Limit</label>
    <select class="rarity" id="rarity" name="rarity">
        <option value="0">Common</option>
        <option value="1">Uncommon</option>
        <option value="2">Rare</option>
        <option value="3">Very Rare</option>
        <option value="4">Legendary</option>
        <option value="5">Artifact</option>
      </select>
      <label for="itemCount">Item Count:</label>
      <input type="number" name="itemCount" id="itemCount">
      <label for="homebrew">Allow Homebrew?</label>
      <input id="homebrew" name="homebrew" type="checkbox">
</form>