<h1>Outfit</h1>


<p>Head: <%= Items.findOne({"slot": "head"})%></p>
<p>Armor:<%= Items.findOne({"slot": "armor"})%></p>
<p>Weapon: <%= Items.findOne({"slot": "weapon"})%></p>
<p>Adventuring Gear:</p>