<h1>Log In</h1>
<form action="/session/login" method="POST">
  <fieldset>
    <label for="username"> Username: </label>
    <input type="text" id="username" name="username"/>
  </fieldset>
  <fieldset>
    <label for="password"> password: </label>
    <input type="password" id="password" name="password"/>
  </fieldset>
  <input type="submit" value='Log In'>
</form>
